body.pf2e-hud-theme-cyberpunk {
    --custom-bg: rgba(26, 26, 26, 0.95);
    --custom-bg-solid: rgba(20, 20, 20, 1);
    --custom-header: #7e2377;
    --custom-border: #fcee0a;
    --custom-glow: #7e2377;
    --custom-hover: rgba(0, 240, 255, 0.2);
    --custom-icon-filter: brightness(1.12) saturate(1.35) hue-rotate(24deg);

    /* Cyberpunk Image Filters: Pink Actions, Cyan Spells, Yellow Items */
    --custom-img-filter-action: sepia(1) saturate(500%) hue-rotate(290deg) brightness(1.2);
    --custom-img-filter-spell: sepia(1) saturate(400%) hue-rotate(150deg) brightness(1.2);
    --custom-img-filter-item: sepia(1) saturate(400%) hue-rotate(10deg) brightness(1.5);

    /* FontAwesome Colors */
    --custom-font-color-action: #ff003c;
    /* Neon Pink */
    --custom-font-color-menu: #fcee0a;
    /* Cyberpunk Yellow */

    --custom-radius: 0;
    --custom-clip-large: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
    --custom-clip-small: polygon(6px 0, 100% 0, 100% calc(100% - 6px), calc(100% - 6px) 100%, 0 100%, 0 6px);
}