body.pf2e-hud-theme-pf2e {
    --custom-bg: #786452; /* Paizo Core Red */
    --custom-bg-solid: #786452;
    --custom-header: #5e0000;
    --custom-border: #dcdcd2; /* Paizo Gold Trim */
    --custom-glow: rgba(0, 0, 0, .5); 
    --custom-hover: #5e0000;
    --custom-icon-filter: brightness(1.05) saturate(1.1) hue-rotate(10deg);
    
    /* Classic UI rounding */
    --custom-radius: 4px;
    --custom-clip-large: none;
    --custom-clip-small: none;
}