body.pf2e-hud-theme-xcom {
    --custom-bg: rgba(10, 15, 20, 0.95);
    --custom-bg-solid: rgba(17, 33, 44, 0.98); /* Solid color for pop-up menus */
    --custom-header: rgba(0, 200, 255, 0.2); 
    --custom-border: #3fd6ff;
    --custom-glow: rgba(0, 200, 255, 0.3);
    --custom-hover: rgba(0, 200, 255, 0.15);
    
    /* Geometries */
    --custom-radius: 0;
    --custom-clip-large: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
    --custom-clip-small: polygon(6px 0, 100% 0, 100% calc(100% - 6px), calc(100% - 6px) 100%, 0 100%, 0 6px);
}